<div class="container">
   <div class="row">
      <div class="box-subscribers">
         <form action="" method="post" class="form-inline" class="subscribers">
            <div class="subscribers">
               <div class="col-xs-12 col-md-3">
                  <h3>{{ heading_title }}</h3>
                  {{ test }}
               </div>
               <div class="col-xs-12 col-md-6">
                  <div class="input-group">
                     <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                     <input type="email" name="txtemail" id="txtemail" value="" placeholder="" class="form-control input-lg" /> 
                  </div>
                  <p><label><input type="checkbox" id="agree"> {{ entry_submit }} </label></p>
               </div>
               <div class="col-xs-12 col-md-3"><button type="submit" id="subscribe" class="subscribers btn btn-primary btn-lg" onclick="return Subscribe();" disabled="disabled">{{ button_submit }}</button></div>
            </div>
         </form>
      </div>
   </div>
</div>
<style>
.subscribers .col-md-12,.subscribers .col-md-3{text-align:center}.subscribers .input-group{width:100%;display:table}.subscribers p{padding:10px;text-align:center}
</style>
<script>
    function Subscribe()
    {
        var emailpattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}(.[a-zA-Z]{2})?$/; // email pattern for email text field
        var email = $('#txtemail').val();     

        if(email != "")
        {
            if(emailpattern.test(email)){
                $.ajax({
                    type: 'POST',
                    url: 'index.php?route=extension/module/subscribers/newSubscribe',
                    dataType: 'json',
                    data: {email: $('#txtemail').val()},
                    success: function(data){ alert(data.message);}
                });
                $('#txtemail').val('');
                return false;
            }else{
                alert("{{ text_invalid_email }}");
                return false;
            }
        }
        else
        {
            alert("{{ text_email_require }}");
            $(email).focus();
            return false;
        }
    }

    $('#agree').click(function(){
	   if ($(this).is(':checked')){
		$('#subscribe').removeAttr('disabled');
	 } else {
		$('#subscribe').attr('disabled', 'disabled'); 
	 }
});
</script>