{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_status" id="input-status" class="form-control">
                {% if module_shortdescription_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>

  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ bestsellers_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_bestsellers" id="input-status" class="form-control">
                {% if module_shortdescription_bestsellers %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ featured_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_featured" id="input-status" class="form-control">
                {% if module_shortdescription_featured %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>




<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ latest_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_latest" id="input-status" class="form-control">
                {% if module_shortdescription_latest %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ specials_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_specials" id="input-status" class="form-control">
                {% if module_shortdescription_specials %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ category_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_category" id="input-status" class="form-control">
                {% if module_shortdescription_category %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ related_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_related" id="input-status" class="form-control">
                {% if module_shortdescription_related %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{product_detail_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_product_detail" id="input-status" class="form-control">
                {% if module_shortdescription_product_detail %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ search_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_search" id="input-status" class="form-control">
                {% if module_shortdescription_search %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ manufacturer_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_manufacturer" id="input-status" class="form-control">
                {% if module_shortdescription_manufacturer %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ compare_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_compare" id="input-status" class="form-control">
                {% if module_shortdescription_compare %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ wishlist_status }}</label>
            <div class="col-sm-10">
              <select name="module_shortdescription_wishlist" id="input-status" class="form-control">
                {% if module_shortdescription_wishlist %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


<div>
              <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ text_limit }}</label>
               <div class="col-sm-10">
              <input type="text" name="module_shortdescription_limit" value="{{module_shortdescription_limit}}" id="input-status" class="form-control"></div>
            </div>
          
        </div>
`



        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
